{% extends 'layouts/app.html' %}
{% load static %}
{% block body %}
{% include 'partials/navbar.html' %}
    <section id="banniere">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 h-100 d-flex flex-column justify-content-end py-5">
                    <h1 class="text-white-50">MonBlog</h1>
                    <p class="text-white-50">Monblog > articles</p>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand navbar-dark">
        <div class="container">
            <form action="{% url 'article.search' %}" method="POST">
                {% csrf_token %}
                <div class="form-inline">
                    <input type="text" class="form-control" name="search">
                    <button type="submit" class="btn btn-md btn-info"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </nav>
    <section>
        <div class="container py-5">
            <h1 class="text-center text-uppercase text-white-50">All posts</h1>
            <div class="row py-2">
                
                {% for article in data  %}
                    <div class="col-md-4">
                        <div class="card" >
                        <img class="card-img-top" src="{% static 'img/products/k1.jpg' %}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{article.title}}</h4>
                            <p class="card-text">{{article.description}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'article.show' id=article.id %}">voir plus</a>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% include 'partials/footer.html' %}
    
{% endblock body %}
    